<div class="container-fluid">
	<div class="d-flex justify-content-center">
		<app-paginator
					(page)="handlePageEvent($event)"
					[length]="paginator.length"
					[pageSize]="paginator.pageSize"
					[pageIndex]="paginator.pageIndex">
		</app-paginator>
	</div>
</div>

<div class="container mt-2 w-25">
	<app-city-search
				(name)="handleSearchName($event)">
	</app-city-search>
</div>

<div class="container-fluid mt-5" *ngIf="loading">
	<div class="d-flex justify-content-center">
		<p class="loading">Loading...</p>
	</div>
</div>

<div class="container-fluid mt-5">
	<div class="row row-cols-1 row-cols-5 g-4">
		<div class="col d-flex justify-content-center" *ngFor="let city of cities">
			<app-city-card
						(click)="editCity(city)"
						[id]="city.id"
						[name]="city.name"
						[photoUrl]="city.photoUrl">
			</app-city-card>
		</div>
	</div>
</div>
